.shows-widget {
  width: 30%;
  position: fixed;
  right: 0;
  max-height: 75vh;
}


.pinned-title {
  position: relative;
}

.socials {
  a {
    font-size: 2rem;
  }

}

.socials-posts {
  display: none;
}

.pagy-navbar {
  .active {
    a {
      background-color: transparent !important;
      color: $pink !important;
      text-shadow: none;
    }
  }

  .disabled {
    a {
      background-color: transparent !important;
      color: white !important;
    }
  }

  a {
    color: white;
    background-color: transparent;
    border: none;

    &:hover {
      color: $pink;
      background-color: transparent;
    }
  }
}

@media(max-width: 992px) {
  .shows-widget, .socials-shows, .socials-posts-empty-shows {
    display: none;
  }

  .socials-posts {
  display: block;
  }
}
