.posts {
  width: 50%;
}

.shows-homepage {
  background-color: rgba(80, 80, 80, 0.5);
  width: 30%;
  position: fixed;
  right: 0;
}

@media(max-width: 768px) {
  .shows-homepage {
    visibility: hidden;
  }
  .posts {
    margin: 0 auto;
    width: 90%;
  }
}
