.posts {

}

.right {
  position: relative;
}

.shows {
  // visibility: hidden;
  position: absolute;
  // position: sticky;
  // top: 1px;
  width: 100%;
}

// .sticky {
//   position: fixed;
//   top: 75px;
// }
