.black-con-full-height {
  background-color: black;
  min-height: 100vh;
}

.hero-image {
  height: 80vh;
  background-image: url("full_logo");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

