.content {
  position: relative;
  max-height: 100vh;
}


.hero-image {
  height: 50vh;
  width: 100%;
  background-image: url("full_logo_shadow");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


#enter {
  letter-spacing: 16px;
  text-shadow: 2px 2px 2px black;

  &:hover {
    color: black;
    text-shadow: none;
  }
}


