.hero-image {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("full_logo_shadow_new");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


#enter {
  position: relative;
  letter-spacing: 16px;
  display:inline-block;
  text-indent: 16px;
  text-shadow: 2px 2px 2px black;

  &:hover {
    color: black;
    text-shadow: none;
  }
}

@media(max-width: 576px) {
  .hero-image {
    height: 70vh;
  }
}

