.shows {
  background-color: rgba(80, 80, 80, 0.5);
  width: 75%;
  padding: 16px;
}

.no-show-container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 992px) {
  .shows {
    width: 100%;
  }
}
