<div class="nav">
  <div class="logo ml2">

  </div>
  <div class="links">
    <a href="" class="w caslon no-d">NEWS</a>
    <a href="" class="w caslon no-d ml2">SHOWS</a>
    <a href="" class="w caslon no-d ml2">AUDIO/VIDEO</a>
    <a href="" class="w caslon no-d ml2">BUY</a>
    <a href="" class="w caslon no-d ml2">CONTACT</a>
    <a href="" class="w caslon no-d ml2">MAILING LIST</a>
  </div>
  <div class="blank">

  </div>
</div>
