<div class="d-flex justify-content-center socials mb1">
  <a href="https://www.instagram.com/blanckmass" target="_blank" class="no-d w pr2"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com/BlanckMass" target="_blank" class="no-d w pr2"><i class="fab fa-twitter"></i></a>
  <a href="https://www.facebook.com/BlanckMass" target="_blank" class="no-d w pr2"><i class="fab fa-facebook-square"></i></a>
  <a href="https://www.youtube.com/blanckmassofficial" target="_blank" class="no-d w"><i class="fab fa-youtube"></i></a>
</div>
