<%= video_tag "landing.mp4", muted: 'muted', autoplay: true, loop: true, playsinline: true, id: "video" %>

<div class="content">
  <div class="hero-image tac">
    <h2><%= link_to "ENTER", home_path, class: "w caslon no-d letter-spacing", id: "enter"%></h2>
  </div>
</div>
