.grid-cont {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.back-image {
  min-height: 100vh;
  padding-top: 15vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("background");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% -10%;
  background-repeat: no-repeat;
}

.min-full-height {
  min-height: 100vh;
}

@media(max-width: 576px) {
  .grid-cont {
    grid-template-columns: 1fr;
  }
}
