.page-container {
  margin-top: 15vh;
  padding: 32px 64px;
}

.half-width-container {
  width: 50%
}

.grid-cont-admin {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.back-image {
  content:"";
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1;
  display:block;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("background");
  background-size: cover;
  background-position: 50% 15vh;
  background-repeat: no-repeat;
}

@media(max-width: 992px) {
  .half-width-container {
    width: 100%;
    margin: 0 auto;
  }
}

@media(max-width: 576px) {
  .page-container {
    padding: 16px 16px;
  }
}
