.nav {
  background: asset-url("navbar.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  background: asset-url("navbar_logo1.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 104px;
  height: 15vh;
  transition: .3s;
  position: absolute;

  &:hover {
    background: asset-url("navbar_logo2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100%;
  line-height: 12px;

  a {
    padding: 0 16px;
    letter-spacing: 4px;
  }
}


@media(max-width: 768px) {
  .links {
    padding-left: 96px;
  }
}

