.post {
  color: white;
  padding: 16px;
  margin-bottom: 32px;
}

.post-content {
  a {
    color: $pink !important;
  }

  span {
    color: white !important;
  }

  img {
    width: 100%    !important;
    height: auto   !important;
    margin-bottom: 16px;
  }

  iframe {
    width: 100%    !important;
  }

  div {
    max-width: 100% !important;
  }
}

