.post {
  color: white;
  background-color: rgba(80, 80, 80, 0.5);
  padding: 16px;
  margin-bottom: 32px;
}

.post-content {
  a {
    color: $pink !important;
  }

  span {
    color: white !important;
    // padding: 0 16px;
  }

  img {
    width: 100%    !important;
    height: auto   !important;
    margin-bottom: 16px;
  }

  iframe {
    width: 100%    !important;
    // height: auto   !important;
  }

  div {
    // text-align: center;
    max-width: 100% !important;
  }
}

