.post {
  width: 40vw;
  color: white;
  margin: 0 auto;
  padding: 16px 0;
  // text-align: center;
  span {
    color: white !important;
  }

  img {
    width: 100%    !important;
    height: auto   !important;
  }

  iframe {
    width: 100%    !important;
    height: auto   !important;
  }

  div {
    text-align: center;
  }
}

.bottom-border {
  border-bottom: 2px solid white;
}

.container {
  padding-bottom: 32px;
}

@media(max-width: 576px) {
  .post {
    width: 90%;
  }
}

