// STRIP PADDING AND MARGIN

.no-pm {
  margin: 0;
  padding: 0;
}

.no-m {
  margin: 0;
}

// PADDING

// p = padding / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.pb2 {
  padding-bottom: 16px;
}

.ps2 {
  padding: 16px;
}

.ptb1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt1 {
  padding-top: 8px;
}

// MARGIN

// m = margin / s = square / r = recentangle / t = top / r = right / b = bottom / l = left / 1-4 in 8px intervals

.mb4 {
  margin-bottom: 32px;
}

.mr4 {
  margin-right: 64px;
}

// SPACING AND WIDTH

.center {
  margin: 0 auto;
}

.width-half {
  width: 50%;
}

// MEDIA QUERIES

@media(max-width: 768px) {
  .width-half {
    width: 80%;
  }
}
