.caslon {
  font-family: 'Libre Caslon Text', serif;
  text-shadow: 2px 2px 2px black;
}

.w {
  color: white;
}

.tac {
  text-align: center;
}

.no-d {
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

.letter-spacing-single {
  letter-spacing: 4px;
}

.letter-spacing-double {
  letter-spacing: 8px;
}

.fa-thumbtack {
  transform: rotate(20deg);
  font-size: 2rem;
}


