<div class="page-container">
  <% if @shows.empty? %>
    <div class="full-height-container">
      <div class="half-width-container">
        <h2 class="caslon tac no-pm w letter-spacing-double">
          There are no live shows at this time, check back for future announcements
        </h2>
      </div>
    </div>
  <% else %>
    <div class="shows w center grey-bg">
      <h4 class="caslon tac pt2 letter-spacing-double">UPCOMING SHOWS</h4>
      <% @shows.each_with_index do |show, index| %>
        <%= render "shows/show", show: show, index: index %>
      <% end %>
    </div>
  <% end %>
</div>

